<div class="container">
  <h2>Contact Us</h2>
  <input type="text" placeholder="Subject">
  <input type="email" placeholder="email address">
  <input type="text" placeholder="Enter your concern">
  <button class="btn btn-danger">Submit</button>

  <div class="address">
    <br>
    <span>Address:</span>
    Anchorage 1<br>
    Anchorage Quay<br>
    Salford Quays<br>
    Salford<br>
    Manchester<br>
    M50 3YJ
  </div>

  <div class="Direction">
    <h3>Find us here:</h3>
    <img src="./assets/images/map.png" alt="googlemap">
  </div>
</div>
